# Ignore everything except SWDE data.
/*
!/.gitattributes
!/.gitignore
!/data/
/data/*.*
/data/*/*/*.*
!/data/*/*/*.htm
!/data/*/*/*-full.png
!/data/*/*/*.json
!/data/groundtruth/*/*.txt
!/invalid_pages.txt
!/visual_pages.yaml
