# Ignore everything except SWDE data.
/*
!/.gitattributes
!/.gitignore
!/swde/
/swde/*
!/swde/data/
/swde/data/*/*.*
!/swde/data/*/*.htm
!/swde/data/*/*.json
!/swde/data/groundtruth/*/*.txt
!/swde/invalid_pages.txt
!/swde/visual_pages.yaml
